<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61769185125-q6urrn45pg0mad4d1sq0bcvh5fhd4bus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61769185125-q6urrn45pg0mad4d1sq0bcvh5fhd4bus</string>
	<key>API_KEY</key>
	<string>AIzaSyCo1TO1Y16vc4aYZSf2SCn3LF9sPaAs4ww</string>
	<key>GCM_SENDER_ID</key>
	<string>61769185125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipes-1f4ff</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-1f4ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61769185125:ios:8bdbc1d3c19c93c6</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-1f4ff.firebaseio.com</string>
</dict>
</plist>